main {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(7, 1fr) / repeat(7, 1fr);
  /* grid-template-areas:
      "green green green green green green green green green"
      " . . . . . . . . green"
      "green . blue blue blue . blue . green"
      "green . . . . . blue . green"
      "green . blue . yellow . blue . green"
      "green . blue . blue blue blue . green"
      "green . . . . . . . ."
      "green . green green green green green green green"; */
  gap: 10px;
}
.green {
  background-color: #d5e8d4;
  border: 1px solid #82b366;
}
.blue {
  background-color: #dae8fc;
  border: 1px solid #6c8ebf;
}
.yellow {
  background-color: #ffe6cc;
  border: 1px solid #d79b00;
}
.top_left_out {
  grid-column: 1 / 7;
}
.top_right_out {
  grid-row: 1 / 7;
  grid-column: 7;
}
.bottom_right_out {
  grid-row: 7;
  grid-column: 2 / 8;
}
.bottom_left_out {
  grid-row: 2 / 8;
}
.top_left_in {
  grid-row: 2;
  grid-column: 2 / 6;
}
.top_right_in {
  grid-row: 2 / 6;
  grid-column: 6;
}
.bottom_left_in {
  grid-row: 6;
  grid-column: 3 / 7;
}
.bottom_right_in {
  grid-row: 3 / 7;
  grid-column: 2;
}
.center {
  grid-row: 3 / 6;
  grid-column: 3 / 6;
}
